@import '../stylesheets/_variables.scss';

@import "../../node_modules/bootstrap/scss/bootstrap";

:global {
  body {
    font-family: 'Raleway', sans-serif;
  }

  .bg-dark {
    background-color: $secondary !important;
  }

  .btn-primary {
    background-color: $primary;
  }
}